
/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

.content{
	
}
header{
	width: 1100px;
	margin: auto;
	height: 90px;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.menu{
	width: 700px;
	margin: 0 0 0 270px;
}
ul.header{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-family: 'Open Sans', sans-serif;
	
}
li.header{
	color: #2f3f54;
	line-height: 1.2;
	font-weight: 700;
	text-transform: uppercase;
}
.hosting {
	background: url(../img/rectangle_2_3672.jpg);
	height: 836px;
}
.hosting_body{
	max-width: 1100px;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
}
.hosting_body_left{
	width: 545px;
}
.pretitle {
	padding: 162px 0 0 0;
	font-family: 'Lato', sans-serif;
	line-height: 24px;
	color: #ffffff;
	margin: 0 0 20px 0;
}
.title {
	font-family: 'Roboto', sans-serif;
	font-size: 48px;
	line-height: 52px;
	font-weight: 900;
	text-transform: uppercase;
	color: #ffffff;
	margin: 0 0 25px 0;
}
.cost {
	font-family: 'Lato', sans-serif;
	font-size: 19px;
	line-height: 52px;
	font-weight: 700;
	color: #ffffff;
	margin: 0 0 15px 0;
}
.enter {
	font-family: 'Lato', sans-serif;
	line-height: 24px;
	color: #ffffff;
	margin: 0 0 40px 0;
}
.list li{
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	line-height: 27px;
	font-weight: 700;
	color: #ffffff;
	background: url(../img/icons8-отмеченный-чекбокс-2-20.png) left no-repeat;
	padding: 0 0 0 30px;
}

.button {
	display: inline-block;
	margin: 50px 0 18px 0;
	width: 224px;
	height: 47px;
	background-color: #267ae9;
	border: 3px solid #ffffff;
	border-radius: 23.5px;
	text-align: center;
}
.button p{
	margin: 10px 0;
	font-family: 'Lato', sans-serif;
	line-height: 24px;
	text-transform: uppercase;
	color: #ffffff;
}
.special_info {
	font-family: 'Lato', sans-serif;
	line-height: 24px;
	color: #ffffff;
}
.hosting_body_right{
	width: 545px;
	position: relative;
}
.superman{
	padding: 190px 0 0 45px;
}
.circle {
	background-color: #ffffff;
	height: 230px;
	width: 230px;
	border-radius: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 135px;
	right: 55px;
}
.circle_text {
	font-family: 'Lato', sans-serif;
	line-height: 24px;
	color: #212121;
	margin-bottom: 20px;
	text-align: left;
	width: 140px;
}
.circle_cost {
	font-family: 'Lato', sans-serif;
	font-size: 54px;
	line-height: 24px;
	font-weight: 700;
	color: #212121;
	margin-bottom: 10px;
}
.circle_month {
	font-family: 'Lato', sans-serif;
	line-height: 24px;
	color: #212121;
	text-align: right;
	width: 140px;
}
.charge{
	background-color: #ffffff;
	width: 1100px;
	height: 1350px;
	margin: auto;
}
.charge_title {
	font-family: 'Roboto', sans-serif;
	font-size: 40px;
	line-height: 50px;
	font-weight: 700;
	color: #2f3f54;
	padding: 156px 0 0 0;
	text-align: center;
	margin: 0 0 47px 0;
}
.charge_title span {
	color: #2575e7;
}
.charge_text {
	text-align: center;
	width: 590px;
	margin: auto;
	font-family: 'Lato', sans-serif;
	line-height: 24px;
	color: #4a6385;
}
.wordpress {
	color: #e74c3c;
}
.dot {
	color: #212121;
}
.visual_editors {
	color: #e74c3c;
}
.codding_skills {
	color: #42d6c1;
}
.conteiner_row{
	margin: 120px 0 0 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}
.conteiner {
	display: flex;
	flex-direction: column;
	height: 721px;
	width: 360px;
	box-shadow: 0px 21px 49px 1px rgba(41,44,61,0.15);
	align-items: center;
	border-radius: 2px 2px 0px 0px;
}
.conteiner_top {
	display: flex;
	background-color: #267ae9;
	height: 95px;
	width: 260px;
	border-radius: 0 0 50% 50% / 0 0 100% 100%;
	justify-content: center;
	align-items: center;
	font-family: 'Roboto', sans-serif;
	font-size: 22.7px;
	line-height: 20px;
	font-weight: 700;
	letter-spacing: 0.04em;
	color: #ffffff;
}
.conteiner_image {
	margin: 45px 0 40px 0;
}
.conteiner_title {
	text-align: left;
	width: 260px;
	font-family: 'Roboto', sans-serif;
	font-size: 31.3px;
	line-height: 50px;
	font-weight: 700;
	color: #267ae9;
	margin: 0 0 27px 0;
}
.conteiner_text {
	width: 260px;
	text-align: left;
	font-family: 'Lato', sans-serif;
	line-height: 24px;
	color: #4a6385;
	margin: 0 0 55px 0;
}
.conteiner_list {
	width: 260px;
	text-align: left;
	flex: 1 1 auto;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 36px;
	letter-spacing: 0.04em;
	color: #4a6385;
}
.conteiner_list li{
	background: url(../img/icons8-галочка-16.png) left no-repeat;
	padding: 0 0 0 25px;
}
.conteiner_button {
	display: flex;
	height: 60px;
	width: 360px;
	background-color: #267ae9;
	border-radius: 0px 0px 2px 2px;
	align-items: center;
	justify-content: center;
}
.conteiner_button p{
	font-family: 'Roboto', sans-serif;
	font-size: 17.2px;
	line-height: 20px;
	font-weight: 700;
	letter-spacing: 0.04em;
	color: #ffffff;
}
.reviews {
	height: 842px;
	background-color: #fafafa;
}
.reviews_body{
	width: 1100px;
	margin: auto;
}
.reviews_title {
	font-family: 'Roboto', sans-serif;
	font-size: 40px;
	line-height: 50px;
	font-weight: 700;
	color: #2f3f54;
	padding: 123px 0 0 0;
	margin: 0 0 167px 0;
	text-align: center;
}
.reviews_title span{
	color: #267ae9;
}
.reviews_conteiner_row {

}
.reviews_slider .slick-dots{
	list-style: none;
	display: flex;
	justify-content: center;
	margin-top: 50px;
}
.reviews_slider .slick-dots button{
	font-size: 0;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	padding: 0;
	border: none;
	background-color: #267ae9;
}
.reviews_slider .slick-dots li{
	margin: 0 8px;
}

.reviews_content {
	width: 530px;
	height: 350px;
	display: flex;
	box-shadow: 0px 21px 49px 1px rgba(41,44,61,0.15);
}
.reviews_content_image {
	display: flex;
	background-color: #267ae9;
	width: 200px;
	height: 350px;
	align-items: center;
	justify-content: center;
}

.reviews_content_text {
	background-color: #ffffff;
	width: 330px;
	display: flex;
	flex-direction: column;
	font-family: 'Lato', sans-serif;
	padding: 0 35px;
	font-size: 16px;
	line-height: 26px;
	font-weight: 400;
	color: #4a6385;
	justify-content: center;
}
.reviews_content_text p{
	margin: 0 0 40px 0;
}
.Captain_America{
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	line-height: 30px;
	font-weight: 700;
	color: #267ae9;
}
.Tony_Stark{
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	line-height: 30px;
	font-weight: 700;
	color: #267ae9;
}
.unemployed {
	font-weight: 400;
	color: #2f3f54;
}
.CEO {
	font-weight: 400;
	color: #2f3f54;
}
.partners{
	display: flex;
	height: 275px;
	align-items: center;
	justify-content: center;
}
.footer {
	background: url(../img/base_5471.png);
	height: 508px;
}
.footer_content {
	width: 1100px;
	margin: auto;
	padding: 90px 0 0 0;
	display: flex;
	justify-content: space-between;
}
.footer_logo {
	width: 263px;
}
.joomhost {
	background: url(../img/layer_40_5574.png) left no-repeat;
	font-family: 'Roboto', sans-serif;
	font-size: 22px;
	line-height: 2;
	font-weight: 700;
	text-transform: uppercase;
	color: #d0e4ff;
	padding: 0 0 0 45px;
	margin: 0 0 40px 0;
}
.footer_text {
	font-family: 'Lato', sans-serif;
	font-size: 13px;
	line-height: 22px;
	color: #718db2
}
.Knowledge_Base {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 1.2;
	font-weight: 400;
	color: #d0e4ff;
	margin: 0 0 25px 0;
}
.footer_column_1 li{
	font-family: 'Lato', sans-serif;
	font-size: 13px;
	line-height: 31px;
}
.Company {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 1.2;
	color: #d0e4ff;
	margin: 0 0 25px 0;
}
.footer_column_2 li{
	font-family: 'Lato', sans-serif;
	font-size: 13px;
	line-height: 31px;
}
.footer_list_2 {
}
.footer_contacns{
	display: flex;
	flex-direction: column;
	width: 263px;
}
.Quick_Contact {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 1.2;
	color: #d0e4ff;
	margin: 0 0 25px 0;
}
.footer_contacns input{
	background-color: transparent;
	border: 1px solid #38475a;
	height: 38px;
	display: block;
	width: 100%;
}
.footer_contacns textarea{
	background-color: transparent;
	border: 1px solid #38475a;
	height: 87px;
	display: block;
	width: 100%;
	padding-top: 12px;
	resize: none;
}
.footer_contacns input::placeholder{
	font-family: 'Lato', sans-serif;
	font-size: 11px;
	line-height: 1.2;
	color: #718db2;
}
.footer_contacns textarea::placeholder{
	font-family: 'Lato', sans-serif;
	font-size: 11px;
	line-height: 1.2;
	color: #718db2;
}
.footer_button{
	background-color: #2575e7;
	width: 60px;
	height: 34px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px 0 0 0;
}
.footer_button span{
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	line-height: 1.2;
	text-transform: uppercase;
}